html {
    position: relative;
}

body {
    font-family: 'Lucida Casaul', 'Comic Sans MS';
    margin-bottom: 160px;
}

.navbar-img {
    width: 30px;
    height: 35px;
    float: left;
    background-size: auto 100%;
    margin-top: -5px;
    margin-right: 5px;
}

.gallery {
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery .img-thumbnail {
    height: 500px;
    width: 300px;
}