{% extends 'blog/base.html' %} {% block title %}{{ post.title }}|Edit{% endblock %} {% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered">
        <tr>
            {{ form.title.errors }}
            <th><label for="id_title">Title:</label>
            </th>
            <td colspan="3">
                {{ form.title }}
            </td>
        </tr>
        <tr>
            {{ form.body.errors }}
            <th><label for="id_body">Body:</label>
            </th>
            <td colspan="3">
                {{ form.body }}
            </td>
        </tr>
        <tr>
            {{ form.status.errors }}
            <th><label for="id_status">Status:</label>
            </th>
            <td>
                {{ form.status }}
            </td>
            <th><label for="id_restrict_comment">Restrict Comment:</label>
            </th>
            <td>
                {{ form.restrict_comment }}
            </td>
        </tr>
    </table>
    <input type="submit" value="Update" class="btn btn-success">
</form>
{% endblock %}